

     .section-title h2 {
      text-transform: uppercase;
    }
    .section-title {
      margin: 3% 0;
    }
    .section-title p {
      text-transform: uppercase;
      font-weight:bold;
    }
    .single-team{
      padding-bottom: 70px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      box-shadow:5px 5px 15px #000;
    }
    
    .team-img{
      position: center;
      z-index: 5;
      overflow: hidden;
      height: 300px;
      max-width: 100%;
     
    }
    .team-img img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height:100%;
      object-fit: cover;
      transition: .3s;
    }
    .single-team:hover .team-img img {
      transform: scale(1.1);
    }
    .team-content {
      height: 80px;
      width: 100%;
      position: absolute;
      text-align: center;
      overflow: hidden;
      bottom: 0;
      transition: all .4s;
      background: maroon;
      z-index:5;
    }
    .single-team:hover .team-content{
      height: 180px;
    }
    .NAsingle-team:hover .team-content{
      height: 10px;
    }
    .team-info {
      padding: 5px 20px 5px 20px;
      transition: all .5s;
    }
    .single-team:hover .team-content{
      background: #000;
    }
    .single-team .team-content .team-info h3 {
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      margin: 5px;
    }
    .single-team:hover .team-info h3{
      color: maroon;
    }
    .team-info p {
      margin-top: 15px;
      color: #fff;
      
    }
    .single-team-text p{
      margin-top: 5px;
    }
    .team-text {
      color: #fff;
      padding: 0 10px 5px;
      font-size: 12px;
    }
    .card{
      float: left;
      width: 25%;
      margin-bottom: 16px;
      padding: 0 12px;
      height: 300px;
    }
    .row {
      width: auto;
      height: 400px;
      display: flex;
      align-items: stretch;
      justify-content: center;
    }
  
    
    
          